<!DOCTYPE html>
<html>
  <head>
    <title>Register For Campaign</title>
  </head>

  <body>
    <button id="connectButton">Connect</button>
    <button id="registerButton">Register</button>
    <button id="getKeysButton">Get Keys</button>
  </body>

  <script src="static/register.js" type="module"></script>
</html>